// font-family: 'EsaManru';
@import url('https://webfontworld.github.io/gonggames/EsaManru.css');
// font-family: 'Public Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'pretendard', sans-serif;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html,
body {
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'pretendard', sans-serif
}

@media (max-width: 575px ){
  .header_big {
    height: 13vh;
    width: 100%;
    background-color: #0B1648;
    position: fixed;
    z-index: 100;
  
    .header {
      font-family: 'EsaManru';
      font-weight: 300;
      position: relative;
      padding: 0 50px;
  
      .lg {
        width: 200px;
        height: 50px;
        background-image: url(../public/img/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
      }
  
      .me-auto {
        width: 350px;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        display: none;
      }
  
      .two {
        width: 180px;
        height: 35px;
        position: absolute;
        right: 0;
  
        .search {
          width: 50px;
          background-image: url(../public/img/icon1.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .search:hover {
          background-image: url(../public/img/icon1_1.png);
        }
  
        .my {
          width: 50px;
          background-image: url(../public/img/icon2.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .my:hover {
          background-image: url(../public/img/icon2_1.png);
        }
  
  
        .cart {
          width: 50px;
          background-image: url(../public/img/icon3.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .cart:hover {
          background-image: url(../public/img/icon3_1.png);
        }
      }
  
      .btn-secondary {
        background-color: #fff;
        border: none;
        color: #0B1648;
        display: block;
      }

      .show{
        display: block;
      }
    }
  }
}


@media (min-width: 576px) and (max-width: 990px ){
  .header_big {
    height: 13vh;
    width: 100%;
    background-color: #0B1648;
    position: fixed;
    z-index: 100;
  
    .header {
      font-family: 'EsaManru';
      font-weight: 300;
      position: relative;
  
      .lg {
        width: 200px;
        height: 50px;
        background-image: url(../public/img/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
      }
  
      .me-auto {
        width: 350px;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        display: none;
      }
  
      .two {
        width: 180px;
        height: 35px;
        position: absolute;
        right: 0;
  
        .search {
          width: 50px;
          background-image: url(../public/img/icon1.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .search:hover {
          background-image: url(../public/img/icon1_1.png);
        }
  
        .my {
          width: 50px;
          background-image: url(../public/img/icon2.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .my:hover {
          background-image: url(../public/img/icon2_1.png);
        }
  
  
        .cart {
          width: 50px;
          background-image: url(../public/img/icon3.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .cart:hover {
          background-image: url(../public/img/icon3_1.png);
        }
      }
  
      .btn-secondary {
        background-color: #fff;
        border: none;
        color: #0B1648;
        display: block;
      }

      .show{
        display: block;
      }
    }
  }
}

@media (min-width: 991px ){
  .header_big {
    height: 13vh;
    width: 100%;
    background-color: #0B1648;
    position: fixed;
    z-index: 100;
  
    .header {
      font-family: 'EsaManru';
      font-weight: 300;
      position: relative;
  
      .lg {
        width: 200px;
        height: 50px;
        background-image: url(../public/img/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
      }
  
      .me-auto {
        width: 350px;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
      }
  
      .two {
        width: 180px;
        height: 35px;
        position: absolute;
        right: 0;
  
        .search {
          width: 50px;
          background-image: url(../public/img/icon1.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .search:hover {
          background-image: url(../public/img/icon1_1.png);
        }
  
        .my {
          width: 50px;
          background-image: url(../public/img/icon2.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .my:hover {
          background-image: url(../public/img/icon2_1.png);
        }
  
  
        .cart {
          width: 50px;
          background-image: url(../public/img/icon3.png);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s linear;
          cursor: pointer;
        }
  
        .cart:hover {
          background-image: url(../public/img/icon3_1.png);
        }
      }
  
      .btn-secondary {
        background-color: #fff;
        border: none;
        color: #0B1648;
        display: none;
      }

      .show{
        display: none;
      }
    }
  }
}


.slide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;

  img {
    height: 100%;
  }
}

.we_wrap {
  margin-top: 150px;
  width: 100%;
  height: 30vh;
  position: relative;
  background-image: url(../public/img/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.card {
  overflow: hidden;

  .card-body {
    z-index: 3;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }

  .card_img {
    transition: all 0.2s linear;
    cursor: pointer;
  }

  .card_img:hover {
    transform: scale(1.1);
  }
}

.button_box {
  text-align: center;
  margin-top: 50px;
}

.banner {
  width: 100%;
  height: 300px;
  margin-top: 150px;
  background-image: url(../public/img/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.insta_title {
  text-align: center;
  font-family: 'Public Sans';
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;

  h1 {
    font-size: 2.5rem;
    font-weight: 800;

    span {
      color: #0B1648;
    }
  }
}

.insta {
  margin-top: 50px;

  img {
    width: 100%;
  }
}

#app {
  height: 100%;
}

.swiper {
  margin-top: 70px;
  margin-bottom: 200px;
  --swiper-navigation-size: 30px;
  --swiper-theme-color: #ffffff;
}

.mySwiper {
  margin-top: 70px;
  height: auto;
  --swiper-navigation-size: 30px;
  --swiper-theme-color: #0B1648;
  margin-bottom: 30px;
  background-color: rgba(242, 242, 242, 0.3);

  .swiper-wrapper {
    transform: translate3d(260px, 0px, 0px);
    transition-duration: 0ms;
    transition-delay: 0ms;
    transition-timing-function: linear;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.best {
  width: 500px;
  height: auto;
  position: relative;
  cursor: pointer;
}

.best_text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s linear;

  h3 {
    width: 60%;
    font-family: 'pretendard', sans-serif;
    font-size: 22px;
    word-break: keep-all;
  }
}

.best:hover .best_text {
  opacity: 1;
}

.best img {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #eee;
}

.swiper-button-prev {
  position: absolute;
  z-index: 5;
}

.swiper-button-next {
  position: absolute;
  z-index: 5;
}

.nav-link2 {
  color: #fff;
  padding: 0;
  margin-right: 20px;
}

.nav-link2:last-of-type {
  margin-right: 0;
}

.nav-link2:hover {
  opacity: 0.5;
}